.classe1{
    color: rgb(238, 255, 0);
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 
    'Arial Narrow Bold', sans-serif;
    }
    
    .classe2{
    color: rgb(228, 11, 199);
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 
    'Arial Narrow Bold', sans-serif;
    }